*{
    margin:  0;
    padding: 0;
}

body{
    background-color: #1e1e1e;
}

/* ----- Header ----- */

header{
    background-color: black;
    width: 100%;
    border-bottom: 6px solid #7511e7;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
h1{
    font-size: x-large;
    text-shadow: -5px 3px rgb(3, 129, 151);
    text-align: center;
    color: white;
}

/* ----- Section -----  */

section{
    height: 91vh;
    color: white;
}

section h2 {
    text-align: center;
    margin: 5vh 0vh 5vh 0vh;
}
section h4{
    margin-bottom: 1vh;
}

section .exercises{
    margin-left: 3vw;
}
.exercises a {
    text-decoration: none;
    color: rgb(132, 130, 236);
}

/* ----- Footer ----- */ 

footer{
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #7511e7;
}
footer a{
    margin-top: 2vh;
}
img{
    height: 5vh;
}
