header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    margin-left: 3%;
}

section{
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

section p{
    font-size: 1.3em;
}

section .container{
    background-color: black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5%;
    border-radius: 45px;
}

.container h2 {
    animation: rainbow 3s linear infinite;
}
.container input{
    height: 3vh;
    border-radius: 10px;
    background: #827d89;
    color: white;
    text-align: center;
}

section button {
    margin-top: 6vh;
    height: 5vh;
    width: 20vw;
    border-radius: 45px;
    background-color: #827d89;
    opacity: 0.6;
    color: white;
}
section button:hover{
    opacity: 1;
}

.result{
    margin-top: 5vh;
    color: white;
}


span {
    display: none;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: #32244b;
    width: 30%;
    padding: 10px;
    border-radius: 4px;
}

.simpleTriangle{
    margin-top: 2vh;
    transition: 0.5s ease-in-out;
    display: none;
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #32244b;
}

/* ------ Animation ------ */

@keyframes rainbow {
    0% {
        color: red;
    }

    15% {
        color: orange;
    }

    30% {
        color: yellow;
    }

    45% {
        color: greenyellow;
    }

    60% {
        color: blue;
    }

    75% {
        color: indigo;
    }

    100% {
        color: violet;
    }
}

/* ------ Media Query ------

@media only screen and (min-width: 320px) and (max-device-width: 767px) { 
    #result:target ~ section{
        height: 110vh;
    }
} 

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #result:target ~ section{
        height: 110vh;
    }
}

@media only screen and (min-width: 1224px) { 
    #result:target ~ section{
        height: 110vh;
    }
} */